input {
    text-align: center;
    margin-left: 24px;
    font-size: 20px;
    color: #d4ddd4;
    border-radius: 10px;
    border: 1px solid #1b18d8;
    padding: 10px;
    width: 50%;
    height: 40px;
    background-color: #e3d8d8;
    margin-top: 40px;
    color: black;
    display: felx;

    /* margin: auto; */
}

.TodoSearch{
    border-radius: 10px;
    border: 2px solid rgb(27, 27, 177);
    margin: 0 24px;
    height: 40px;
    margin-left: 60px;
    width: calc(100% -62px);
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: black;
    box-shadow: 0px 5px 50px rgba(32, 35, blue, alpha);
}
