body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: aliceblue;
  background-color: #4564ed;
 
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
