
h1 {
    margin-top: 20px;
    padding: 25px;
    text-align: center;
    font-size: 24px;
    margin-left:0px;
 }

.TodoCounter{
    font-size: 24px;
    text-align: center;
    margin: 0px 15px 0px 15px;
    padding: 0;
    font-weight: normal;
}
.TodoCounter span{
    font-weight: bold;
}
 